html {
  background-image: url('../images/ezgif.com-gif-maker.gif');
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
}

h2 {
  font-family: 'Manjari', sans-serif;
  font-weight: 700;
  color: #d9eeec;
}

button {
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #445963;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#thinking,
#casual,
#happy,
#angry,
#test-1,
#test-2,
#test-3,
#test-4 {
  border: none;
  border-radius: 5px;
  transition: 0.8s;
  margin-right: 15px;
  margin-top: 20px;
}

#thinking:hover,
#casual:hover,
#happy:hover,
#angry:hover {
  background-color: #add681,
}
#thinking:active,
#casual:active,
#happy:active,
#angry:active {
  background-color: #add681;
  box-shadow: 0 5px #666;
  transform: translateY(12px);
}
#test-1:hover,
#test-2:hover,
#test-3:hover,
#test-4:hover {
  background-color: #add681;
}
#test-1:active,
#test-2:active,
#test-3:active,
#test-4:active {
  background-color: #add681;
  box-shadow: 0 5px #666;
  transform: translateY(6px);
}
#letter-d {
  fill: #AC99FF;
}

/*#t {
  background-image: linear-gradient(
    transparent 10px,
    #5026a7 50%,
    #5c94bd 100%);
}#c {
  background-image: linear-gradient(
    transparent 10px,
    #F243B3 50%,
    #FFCA47 100%);
}#h {
  background-image: linear-gradient(
    transparent 10px,
    #F243B3 50%,
    #FFCA47 100%);
}#a {
  background-image: linear-gradient(
    transparent 10px,
    #F243B3 50%,
    #FFCA47 100%);
}*/

svg:hover .window {
  fill: pink;
  border: 0px;
  transform: scale(.8);
  opacity: .4;
}

svg:hover .tag {
  fill: pink;
  border: 0px;
  transform: scale(.8);
  opacity: .4;
}

.container {
  display: grid;
  text-align: center;
  grid-row-gap: 1px;
  grid-column-gap: 9px;
}

.title {
  order: 1;
  display: inline-grid;
  justify-content: center;
}

/*.test-buttons {
  padding: 20px;
  margin-top: -40px;
  display: justify-content: space-between;
  position: relative;
}*/

.graphic-svg {
  position: relative;
  margin-top: 8px;
  order: 1;
  filter: drop-shadow(0 0 30px #333);
}

.window,
.tag  {
  transition: all 1.9s;
}

.buttons {
  padding: 20px;
  display: justify-content: space-between;
  position: relative;
  order: 2;
}
